footer.footer 
    div.logo
        img(src='../../img/headset1.png' alt='pix')
        h2 MusiCity
    .footer_nav--container 
        ul.footer_nav 
            li.footer_nav--item: a(href='#') About Us     
            li.footer_nav--item: a(href='#') Apps 
            li.footer_nav--item: a(href='#') Collaborate 
            li.footer_nav--item: a(href='#') Contact
p.copyright &copy2022 Pokoh Ufuoma
